

html {
  --theme-hue: 0;         /* white */
  --accent-hue: 0;      /* red */

  --text-color-richer: hsl(var(--theme-hue), 0%, 5%);      /* #0d0d0d    */
  --text-color-normal: hsl(var(--theme-hue), 0%, 13%);     /* #222222     text color; button:hover:focus color */
  --text-color-softer: hsl(var(--theme-hue), 0%, 33%);     /* #555555     button color; button:hover border */

  --accent-color: hsl(var(--accent-hue), 86%, 57%);        /* #33C3F0     link; button-primary bg+border; textarea,select:focus border */
  --accent-color-hover: hsl(var(--accent-hue), 76%, 49%);  /* #1EAEDB     link hover; button-primary:hover:focus bg+border */

  --border-color: hsl(var(--theme-hue), 0%, 73%);          /* #bbbbbb    button border */
  --border-color-softer: hsl(var(--theme-hue), 0%, 82%);   /* #d1d1d1    textarea,select,code,td,hr border   */

  --background-color: white;                               /* transparent body background; textarea,select background */
  --background-color-softer: hsl(var(--theme-hue), 0%, 95%);
  --code-background: hsl(var(--theme-hue), 0%, 95%);       /* #f1f1f1     code background*/

  --button-primary-color: white;
}


.container {
  max-width: 860px;
}

@media (min-width: 600px) {
  header {
    margin-top: 18rem;
  }
  summary {
    padding: 4rem 0;
  }

  .featured-articles {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

header {
  margin-top: 6rem;
  text-align: center;
}

.header-image {
  width: 100%;
}

.header-caption {
  padding-top: 1rem;
}

summary, footer {
  border-top: 1px solid var(--border-color-softer);
  padding: 4rem 0;
  margin-bottom: 0;
}

.article-summary-header {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 600;
}

footer {
  text-align: center;
}

.paisley-groups a img {
  width: 100%;
  max-width: 300px;
}
